/* header section */

.banner {
  margin: auto;

  position: relative;
  margin-left: 260px;
  margin-right: 310px;
  margin-top: 50px;
}
.centerd {
  position: absolute;
  top: 0;
  color: white;
  padding: 80px;
  padding-left: 460px;
}
.centerd h5 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.centerd h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

/* done */
.discount {
  color: #ff0000;
  height: 200px;

  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* discount */

.discount-dis {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.new-year-png {
  height: 500px;

  flex-shrink: 0;
  background-image: url("resources/New\ Year\ Photo.png");
  background-repeat: no-repeat;
  background-position: top center;
}
/* done */
/* midnight party sec */
.party {
  width: 70%;
  margin: auto;
  height: 600px;
  background-image: url("resources/Vectorrr.png");

  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 63px;
}
.party-title {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;

  padding-top: 126px;
  padding-left: 126px;
}
/* done */
.party-discription {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-left: 126px;
}
.btn-join {
  color: #220ddb;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 156px;
}
/* place section */
.place {
  width: 620px;
  margin: auto;
  height: 182px;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 177px;
  padding: 100px 386px 214px;
}
span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
#place {
  padding-top: 100px;

  color: #070211;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.join-button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
}
/* done */
/* comming soon section */

.main-class {
  height: 395px;
  width: 1600px;

  margin: auto;
  margin-top: 177px;
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
}
.left1 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.left2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.left3 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.center {
  flex: 1;
}

.center-img {
  padding: 10px;
  border-radius: 463px;
  border: 15px solid #f00;
}

.right {
  flex: 1;
}
.right1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.right2 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

/* holiday section */
.holiday-sale {
  width: 1320px;

  margin: auto;
  margin-top: 177px;
}
.holiday-sale-title {
  text-align: center;
  margin: 0;
}
.top {
  display: flex;
}
.box {
  flex: 3;
  width: 795px;
  height: 660px;
}
.girl {
  flex: 1;
  z-index: -2;
}

.holiday-sale-banner {
  position: relative;
  margin-top: 50px;
}
.red-box {
  position: absolute;
  bottom: 20px;
  z-index: -1;
}

.hst1 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hst2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.hst-title {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.hst3 {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

/* items section */
.portfolio-content {
  width: 1600px;
  margin: auto;
  margin-top: 100px;
}
.GIFTS {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.Portfolio {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
}
.port-dis {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.item {
  width: 100%;
  height: auto;
}

.Subscribe {
  width: 1320px;
  height: 600px;
  margin: auto;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-top: 127px;
  padding-top: 90px;
}
.subscribe1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.subscribe2 {
  padding-bottom: 40px;
}

.input-group {
  display: flex;
  max-width: 450px;
  height: 62px;
  margin: auto;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
  outline: none;
  height: 40px;
}

.input-group button {
  padding: 10px;
  background-color: #f00;
  color: #fff;
  border: 1px solid red;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
  padding: 10px;
  height: 62px;
}

/* footer section */

.bg-main {
  height: 610px;
  background: #070211;
  margin-top: 100px;
}

.main-div {
  display: flex;
  justify-content: space-between;
}

.left-div {
  padding-top: 110px;
  padding-left: 140px;
}
.left-div p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.png1 {
  padding-top: 12px;
  padding-right: 10px;
}
.png2 {
  padding-top: 12px;
  padding-right: 10px;
}

.right-div {
  padding-top: 120px;
  padding-right: 290px;
  color: #fff;
}
.rigt-1 {
  display: flex;
}

.right-1 p {
}
.right-2 {
  display: flex;
}
.righ-2 p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
/* footer center */
.footer-center {
  display: flex;
  justify-content: center;
  padding: 60px;
}

/* footer bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-left: 140px;
}
.footer-right {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-right: 290px;
}
